
@model IEnumerable<Sous_Cloud_Pantry_V2.models.GroceryList>

@{
    ViewData["Title"] = "Index";
}

<h1>Grocery List</h1>

<p>
    <a asp-action="Create"> Add Item +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" />
                    @Html.DisplayFor(modelItem => item.ListItem)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

